<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoyu.mapper.ScheduleItemMapper">
  <resultMap id="BaseResultMap" type="com.aoyu.domain.ScheduleItem">
    <!--@mbg.generated-->
    <!--@Table schedule_item-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="schedule_id" jdbcType="BIGINT" property="scheduleId" />
    <result column="matter_id" jdbcType="BIGINT" property="matterId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, schedule_id, matter_id
  </sql>
</mapper>